---
import { Form } from "../components/reactComponents/Form/Form.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="notes-container">
    <Form client:load />
  </div>
</Layout>

<style></style>
